---
import { db } from "../../db";
import { productions } from "../../db/schema";

let message: string = "";
if (Astro.request.method === "POST") {
  try {
    const formData = await Astro.request.formData();

    // await db.insert(productions).values({
    //   title: formData.get("title") as string,
    //   pubDate: formData.get("pubDate") as string,
    //   type: formData.get("type") as string,
    //   area: formData.get("area") as string,
    //   collaborators: formData.get("collaborators") as string,
    //   links: formData.get("links") as string,
    // });

    message = "Produção criado com sucesso!";
  } catch (error) {
    message = "Erro ao criar produção!!!";
  }
}
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar Produção</title>
  </head>
  <body class="bg-gray-100">
    {message && <h1 class="text-3xl font-bold mb-4">{message}</h1>}
    <div class="container mx-auto p-8">
      <h1 class="text-3xl font-bold mb-4">Criar Produção</h1>
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        class="max-w-lg mx-auto"
      >
        <div class="mb-4">
          <label for="title" class="block text-gray-700 font-bold mb-2"
            >Título</label
          >
          <input
            type="text"
            id="title"
            name="title"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>

        <div class="mb-4">
          <label for="pubDate" class="block text-gray-700 font-bold mb-2"
            >Data de Publicação</label
          >
          <input
            type="date"
            id="pubDate"
            name="pubDate"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>

        <div class="mb-4">
          <label for="type" class="block text-gray-700 font-bold mb-2"
            >Tipo</label
          >
          <input
            type="text"
            id="type"
            name="type"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>

        <div class="mb-4">
          <label for="area" class="block text-gray-700 font-bold mb-2"
            >Área</label
          >
          <input
            type="text"
            id="area"
            name="area"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>


        <div class="mb-4">
          <label for="collaborators" class="block text-gray-700 font-bold mb-2"
            >Colaboradores</label
          >
          <input
            type="text"
            id="collaborators"
            name="collaborators"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>

        <div class="mb-4">
          <label for="links" class="block text-gray-700 font-bold mb-2"
            >Links</label
          >
          <input
            type="text"
            id="links"
            name="links"
            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 p-1"
          />
        </div>

        <button
          type="submit"
          class="bg-indigo-500 text-white font-bold py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
          >Enviar</button
        >
      </form>
    </div>
  </body>
</html>
