---
import Button from "../../components/Button.astro";
import Container from "../../components/Container.astro";
import Form from "../../components/Form.astro";
import Input from "../../components/Input.astro";
import Labelled from "../../components/Labelled.astro";
import Link from "../../components/Link.astro";
import Select from "../../components/Select.astro";
import Textarea from "../../components/Textarea.astro";
import { db } from "../../db";
import {researchers } from "../../db/schema";
import Default from "../../layouts/Default.astro";
import { getAreasFlat } from "../../models/area";

const researcherEntries = await db.select().from(researchers);
---

<style>
  form.htmx-request {
    @apply animate-pulse opacity-75 cursor-progress;
  }

  form.htmx-request * {
    @apply pointer-events-none;
  }
</style>

<Default title="Criar projeto">
  <main>
    <Container class="py-6">
      <Link href="/projetos" class="text-blue-600">&lt; Voltar</Link>
      <h2 class="text-2xl font-bold">Criar projeto</h2>
      <Form hx-post="/projetos/api">
        <Labelled name="creator" label="Criador" required>
          <Select name="creator[]" required>
            <option value="">Selecione um pesquisador</option>
            {
              researcherEntries.map((researcher) => (
                <option value={researcher.id}>{researcher.name}</option>
              ))
            }
          </Select>
        </Labelled>
        <hr />
        <Labelled name="title" label="Título" required>
          <Input type="text" name="title" required />
        </Labelled>
        <Labelled name="start_date" label="Data de Início" required>
          <Input type="date" name="start_date" required />
        </Labelled>
        <Labelled name="end_date" label="Data de Término">
          <Input type="date" name="end_date" />
        </Labelled>
        <Labelled name="collaborators[]" label="Colaboradores">
          <template id="collab_template">
            <div class="flex gap-2 group/control">
              <Select name="collaborators[]" required>
                <option value="">Selecione um pesquisador</option>
                {
                  researcherEntries.map((researcher) => (
                    <option value={researcher.id}>{researcher.name}</option>
                  ))
                }
              </Select>
              <button
                class="group"
                type="button"
                onclick="this.closest('div').remove();"
              >
                <Button variant="destructive" size="sm">-</Button>
              </button>
            </div>
          </template>
          <div id="collab_list" class="space-y-2"></div>
          <button
            class="group mt-2 w-full"
            type="button"
            onclick="
            const collabList = document.getElementById('collab_list');
            const select = document.getElementById('collab_template').content.cloneNode(true).querySelector('div');
            collabList.appendChild(select);
          "
          >
            <Button variant="outline" size="sm">+ Adicionar pesquisador</Button>
          </button>
        </Labelled>
        <Labelled name="description" label="Descrição">
          <Textarea rows="8" name="description" />
        </Labelled>

        <button type="submit" class="group"><Button>Enviar</Button></button>
      </Form>
    </Container>
  </main>
</Default>
