---
import Container from "../components/Container.astro";
import Default from "../layouts/Default.astro";
---

<Default
  ><Container class="h-[calc(100svh-44px)] flex items-center justify-center">
    <p class="text-2xl font-bold">Bem-vindo ao PesquisaUCS!</p></Container
  ></Default
>
